BLOB_READ_WRITE_TOKEN=vercel_blob_rw_G7Xg6A76XJLwUHxI_7ptsNVKeHzJktVhO8GXACbnlaEHtgC
DB_HOST=ballast.proxy.rlwy.net
DB_PORT=35590
DB_USER=root
DB_PASSWORD=AvngfWibvxTercOiYBiicVYUauOhWdol
DB_NAME=railway
DATABASE_URL=mysql://root:AvngfWibvxTercOiYBiicVYUauOhWdol@ballast.proxy.rlwy.net:35590/railway
NEXTAUTH_SECRET=<generate-a-secure-secret>
NEXTAUTH_URL=https://your-project.vercel.app